@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #b83b5e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

.home {
  text-align: center;
  padding: 1rem 1rem;
  height: 90vh;
  background-color: #EDBAA6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home h1{
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 6vw;
  color: #D48032;
}

.about, .portfolio, .contact {
  padding: 20px;
}

.portfolio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EDBAA6;
  gap: 2rem;
  min-height: 95vh;
}

.about{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h2{
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5vw;
  color: #D48032;
}

.portfolio h2{
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 4vw;
  color: #D48032;
  margin-block: 0.60em;
}

.about p{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  text-align: center;
  padding: 0 10vw;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Columnas dinámicas */
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  justify-items: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Alinea los elementos al inicio (arriba) */
  justify-content: center;
  padding-bottom: 1rem;
}

.game-item {
  display: block;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.game-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.game-thumbnail {
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.thumbnail-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.game-item:hover .thumbnail-image {
  transform: scale(1.1);
}

.game-title {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px 0 20px 0;
}

.download-button {
  display: block;
  margin: 10px auto 20px auto;
  padding: 10px 20px;
  background-color: #bd7231;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #c07432;
}

.footer {
  background-color: #b83b5e;
  color: white;
  text-align: center;
  padding: 10px;
}

.footer .social-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer .social-icons {
  padding: 1rem;
}

.pattern{
  position: relative;
    width: 100%;
    height: 40vh;
    padding: 1rem;
}

.pattern img{
  width: 100%;
    height: 100%;
    object-fit: cover;
    /* animation: loop 10s linear infinite; */
}

.footer img{
  width: auto;
  height: 2rem;

  padding-inline: 1rem;
}

@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
  }

  .game-grid {
    grid-template-columns: 1fr;
  }

  .home{
    height: 30vh;
  }

  .pattern{
      height: 15vh;
  }

  .about{
    height: 30vh;
  }

  .about p{
    font-size: 2vh;
  }

  .about h2, .portfolio h2{
    font-size: 3.5vh;
    margin: 1rem;
  }

  .home h1{
    font-size: 4vh;
  }
}
